.todo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 0 auto;
  width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #424242;
    background-color: #f5e3c5;
}

.todo__name {
  color: #424242;
  text-align: center;
  margin-top: 50px;
  font-size: 76px;
  width: 600px;
}

