.input_form {
  width: 616px;
  height: 37px;
  color: #424242;
  font-size: 18px;
  background-color: #fff3e0;
  border: 1px solid #424242;
  display: flex;
  flex-direction: row;
}

.is_done_all {
  width: 30px;
  height: 30px;
  margin: 3px;
  cursor: pointer;
}

.input_field {
  background-color: #fff3e0;
  width: 575px;
  font-size: 18px;
  border: none;
  outline: none;
  padding-left: 7px;
}