.control_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-bottom: 3px;
  width: auto;
  max-width: 600px;
}

.control_panel__buttons {
  display: flex;
  flex-direction: row; 
}

.button {
  margin-left: 10px;
  padding: 0 5px 0 5px;  
  cursor: pointer;
  border: 1px solid #424242;
  border-radius: 10px;
  margin-bottom: -2px;
  caret-color: transparent !important;
}

.button:hover {
  background-color: #ffcc80;
}