.control_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  max-width: 600px;
  margin: 0 5px 2px 5px;
}

@media (max-width: 445px) {
  .control_panel__buttons {
    order: 1;
    margin: 5px auto 0 auto
  }
}

.count:hover {
  cursor: pointer;  
}

.control_panel__buttons {
  display: flex;
  flex-direction: row;
}

.button {
  margin-left: 10px;
  padding: 0 5px 0 5px;  
  cursor: pointer;
  border: 1px solid #424242;
  border-radius: 10px;
  caret-color: transparent !important;
  width: auto;
}

.illumination {
  background-color: #ffcc80;
}

.button:hover {
  background-color: #ffcc80;
}

.clear {
  width: 120px;
}

.hidden_clear {
  opacity: 0;
}