.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 0 auto;
}

.todo__name {
  color: #424242;
  text-align: center;
  margin-top: 50px;
  font-size: 76px;
  width: 600px;
}
